<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>
<!--
        <property name="hibernate.dialect">net.sf.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/test</property>
        <property name="hibernate.connection.username">yjr</property>
        <property name="hibernate.connection.password">1234t</property>
-->
        <!-- Mapping files -->
        <mapping resource="com/kelefa/sms/guohai/SmsMo.hbm.xml"/>
        <mapping resource="com/kelefa/sms/guohai/SmsMt.hbm.xml"/>


    </session-factory>

</hibernate-configuration>
